.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5d6e77;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}
.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}
.image{
  height: auto;
    border-radius: 20px;
    margin-left: -10%;
    margin-top: -5%;
    position: absolute;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.30);
}
.list{
    background-color: #FFFFFF;
    width: 700px;
    height: 250px;
    margin: 1%;
    padding: auto;
    padding-top: 7%;
    padding-left: 14%;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.30);
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.15);
    }
    .unhome {
        width: auto;
        color: rgb(38, 50, 56);
        font-weight: auto;
        font-size: 16px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        border: none;
        border-radius: 20px;
        outline: none;
        padding: auto;
        padding-right: 5%;
        padding-top: 2%;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.15);
        }
.register {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
}
.ul{
	display: flex;
	width: 100%;
	height: 0vh;
	margin: auto;
	max-width: 1200px;
	justify-content: space-between;
	text-align: center;
  font-size: 30px;
    
}
.li {
  
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: auto;
    
}

.li:hover {
  background-color: #ebebeb;
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #066df5;
	font-weight: bold;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.15);
}
.li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
@keyframes spring2 {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}


.submitback {
    animation: spring2 300ms ease-out;
    margin-bottom: 15px;
    border-radius: 2em;
    color: #ffffff;
      border: 0;
      padding-left: 160px;
      padding-right: 160px;
      padding-bottom: 20px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 3%;
      font-size: 20px;
      background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
 }
 .submitback:hover {
    animation: spring 300ms ease-out;
    background: linear-gradient(to bottom right, #1ca384 0%, #497BE8 100%);
}
.submitadmin2 {
    animation: spring2 300ms ease-out;
    margin-bottom: 10px;
    border-radius: 2em;
    color: #ffffff;
      border: 0;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      
      margin-left: 91%;
      font-size: 16px;
      background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
 }
 .submitmycart {
    animation: spring2 300ms ease-out;
    margin-bottom: 10px;
    border-radius: 2em;
    color: #ffffff;
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 75%;
      margin-top: 2%;
      font-size: 16px;
      background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
 }
.submitadmin {
    animation: spring2 300ms ease-out;
    margin-bottom: 10px;
    border-radius: 2em;
    color: #ffffff;
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 91%;
      font-size: 16px;
      background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
 }
 .submitadmin:hover {
    animation: spring 300ms ease-out;
    background: linear-gradient(to bottom right, #1ca384 0%, #497BE8 100%);
}
.submitadmin2:hover {
    animation: spring 300ms ease-out;
    background: linear-gradient(to bottom right, #1ca384 0%, #497BE8 100%);
}
.submitmycart:hover {
  animation: spring 300ms ease-out;
  background: linear-gradient(to bottom right, #1ca384 0%, #497BE8 100%);
}
.submitcart:hover {
  animation: spring 300ms ease-out;
  background: linear-gradient(to bottom right, #1ca384 0%, #497BE8 100%);
}
.submit {
    animation: spring2 300ms ease-out;
    margin-bottom: 15px;
    border-radius: 2em;
    color: #ffffff;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 3%;
    font-size: 16px;
    background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
 }
 .submitcart {
  animation: spring2 300ms ease-out;
  margin-bottom: 15px;
  border-radius: 2em;
  color: #ffffff;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 3%;
  font-size: 16px;
  background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}
.submit:hover {
    animation: spring 300ms ease-out;
    background: linear-gradient(to bottom right, #1ca384 0%, #497BE8 100%);
}
.submit:active {
	position:relative;
	top:1.5px;
}
.submit:disabled {
	background: linear-gradient(to bottom right, #226959 0%, #355cb1 100%);
}
.formloging{
    padding-top: 40px;
}
.backg{
    min-height: 1000px;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
}
.backghome{
    min-height: auto;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background: linear-gradient(to bottom right, #68EACC 0%, #497BE8 100%);
}
.sign {
    padding-top: 40px;
    text-align:"center";
    color: #29b5ce;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    
}
.sign2 {
    padding-top: 40px;
    text-align:"center";
    color: #29b5ce;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 60px;
    
}
.signhome {
    padding-top: 40px;
    text-align:"center";
    color: #29b5ce;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
}
.signcost {
    
    
    color: #29b5ce;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    
}
.signcost2 {
    
  
  color: #3f3f3f;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 30px;
  
}


.main{
    background-color: #FFFFFF;
    width: 650px;
    height: 600px;
    margin: 7em auto;
    border-radius: 1.5em;
   
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.30);
}
.mainregis{
    background-color: #FFFFFF;
    width: 650px;
    height: 630px;
    margin: 7em auto;
    border-radius: 1.5em;
   
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.30);
}
.mainhome{
    background-color: #FFFFFF;
    width: 1750px;
    height: auto;
    margin: 7em auto;
    border-radius: 1.5em;
    padding: 0 0.5rem;
    
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.30);
}
.mainadd{
    background-color: #FFFFFF;
    width: 750px;
    height: 700px;
    margin: 7em auto;
    border-radius: 1.5em;
    padding: 0 0.5rem;
    
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.30);
}


.conlogin{
        position: absolute;
        width: 30em;
        font-family: "Poppins", sans-serif;
 
        height: 24em;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 3%;
       background-color: aliceblue;
}
.body {
    position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  color: #777;

  }
.login{
    background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
background-color: rgba(69, 105, 144, 1);

}

.gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    /* grid-gap: 2px; */
    /* background-color: #2196F3; */
    margin-bottom: 16px;
}

.gridContainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}


.form{
	padding: 20px 0;
	position: relative;
	z-index: 2;
	display: block;
	appearance: none;
	outline: 0;
	border: 1px solid fade(rgb(64, 126, 107), 40%);
	background-color: fade(rgb(13, 121, 172), 20%);
	width: 250px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: rgb(0, 0, 0);
	transition-duration: 0.25s;
	font-weight: 300;
	background-color: fade(white, 40%);
    background-color: white;
	width: 300px;	
		
}